.margin-top-5px{
    margin-top: 5px;
}

.margin-top-15px{
    margin-top: 15px;
}


body{
    background-color: #aaa;
    margin: 50px 0px;
}

.header{
}

.post{
    border: 1px solid whitesmoke;
    border-radius: 4px;
    background-color: #eee;
}

.post .post-header, .post .post-body, .post .post-footer{
    padding: 10px;
}

.post .post-header .username{
    font-weight:bold;
}

.post .post-body{
    background-color: whitesmoke;
}