#logo{
	position: fixed;
	left:0px;
    top:0px;
}
#background{
	position: fixed;
	left:750px;
    right:250px;
    top:0px;
    width: 1000px;
    height: 82px;
}
#background2{
	position: fixed;
	left:180px;
    top:180px;
}
#text8{
	position: fixed;
	color: #0e385f;
    font-size: 20px;
    font-weight: bold;
    line-height: 29px;
    left: 180px;
    top: 100px;
    width: 450px;
    word-spacing: -1px;
    font-family: Arial;
}
#text1{
	position: fixed;
	left:800px;
    top: 5px;
	color: white;
	font-size: 13px;
	font-family: Arial;
}
#logo_input{
	position: fixed;
	left:800px;
    top: 35px;
}
#text2{
	position: fixed;
	left:990px;
    top: 5px;
	color: white;
	font-size: 13px;
	font-family: Arial;
}
#logo_input2{
	position: fixed;
	left:990px;
    top: 35px;
}
#button{
	position: fixed;
	left:1170px;
    top: 33px;
    color: white;
    font-weight: bold;
    background-color: #4267b2;
    border: 1px solid #ced0d4;
    border-color: #29487d;
    font-size: 12px;
    line-height: 18px;
    padding: 2px 6px;
    text-align: center;
}
#link{
	position: fixed;
	left:990px;
    top: 60px;
    color: #9cb4d8;
    font-size: 13px;
}
body{
	background: -webkit-linear-gradient(#ffffff, #d1d9e6); 
}
#text3{
	position: fixed;
	left:800px;
    top: 70px;
    font-size: 36px;
    font-weight: bold;
	color: black;
	font-family: Arial;
}
#text4{
	position: fixed;
	left:800px;
    top: 140px;
    font-size: 20px;
	color: black;
	font-family: Arial;
}
#logo_input3{
	position: fixed;
	left:800px;
    top: 200px;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border-style: ridge;
    border-color: #bdc7d8;
    border: 1px solid #bdc7d8;
    font-size: 18px;
    padding: 8px 10px;
}
#logo_input4{
	position: fixed;
	left:1010px;
    top: 200px;
    width: 210px;
    height: 40px;
    border-radius: 5px;
    border-style: ridge;
 	border-color: #bdc7d8;
    border: 1px solid #bdc7d8;
    font-size: 18px;
    padding: 8px 10px;
}
#logo_input5{
	position: fixed;
	left:800px;
    top: 250px;
    width: 420px;
    height: 40px;
    border-radius: 5px;
    border-style: ridge;
	border-color: #bdc7d8;
    border: 1px solid #bdc7d8;
    font-size: 18px;
    padding: 8px 10px;
}
#logo_input6{
	position: fixed;
	left:800px;
    top: 300px;
    width: 420px;
    height: 40px;
    border-radius: 5px;
    border-style: ridge;
	border-color: #bdc7d8;
    border: 1px solid #bdc7d8;
    font-size: 18px;
    padding: 8px 10px;
}
#text5{
	position: fixed;
	left:800px;
    top: 345px;
    font-size: 18px;
	color: black;
	font-family: Arial;
}
#link2{
	position: fixed;
	left:1030px;
    top: 390px;
    color: #000080;
    font-size: 12px;
}
#text6{
	position: fixed;
	left:800px;
    top: 460px;
    font-size: 12px;
	color: grey;
	font-family: Arial;
}
#button2{
	position: fixed;
	left:800px;
    top: 550px;
    color: white;
   	background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
    width: 200px;
    height: 40px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    border-style: ridge;
    padding: 7px 20px;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    font-family: Arial;
    font-size: 19px;
}
#text7{
	position: fixed;
	left:800px;
    top: 600px;
    font-size: 13px;
	color: grey;
	font-weight: bold;
	font-family: Arial;
}
#gioi_tinh{
	position: fixed;
	left:800px;
    top: 435px;
}
#text_gt{
	position: fixed;
	left:830px;
    top: 420px;
   	font-size: 16px;
   	font-family: Arial;
}
#gioi_tinh2{
	position: fixed;
	left:870px;
    top: 435px;
}
#text_gt2{
	position: fixed;
	left:900px;
    top: 420px;
   	font-size: 16px;
   	font-family: Arial;
}
#date{
	position: fixed;
	left:800px;
    top: 395px;
    width: 65px;
    height: 30px;
}
#month{
	position: fixed;
	left:865px;
    top: 395px;
    width: 75px;
    height: 30px;
}
#year{
	position: fixed;
	left:940px;
    top: 395px;
    width: 65px;
    height: 30px;
}